

<mk-box header="Change Password" [isCollapsed]="false" [isCollapsable]="false" [isRemovable]="false">
   
      
  
    
    <!-- Add/Update Record-->
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="box-body">          
            <div class="form-group has-feedback">
                <label>Old Password*</label>
                <input type="password" formControlName="old_password" class="form-control" placeholder="Old password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p *ngIf="changePasswordForm.controls.old_password.touched || isFormSubmitted">
                    <app-form-validation-errors errorPrefix="Old password "  [errors]="changePasswordForm.get('old_password').errors"></app-form-validation-errors>
                </p> 
            </div>     
            <div class="form-group has-feedback">
                <label>New Password*</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p *ngIf="changePasswordForm.controls.password.touched || isFormSubmitted">
                  <app-form-validation-errors errorPrefix="Password " minLength=10 maxLength=50 [errors]="changePasswordForm.get('password').errors"></app-form-validation-errors>
                </p>
              </div>
    
              <div class="form-group has-feedback">
                <label>Confirm New Password*</label>
                <input type="password" formControlName="repassword" class="form-control" placeholder="Re-Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <p *ngIf="changePasswordForm.controls.repassword.touched || isFormSubmitted">
                  <app-form-validation-errors errorPrefix="Re-Password " minLength=10 maxLength=50 [errors]="changePasswordForm.get('repassword').errors"></app-form-validation-errors>
                </p>
              </div>    
            
        </div>
        <!-- /.box-body -->

        <div class="box-footer">    
      

        <button type="submit" [disabled]="!changePasswordForm.valid" [ngClass]="{ 'submit-btn-disable': !changePasswordForm.valid }" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
    </form>
    <!-- End Here-->

</mk-box>

