<!--=================================
 breadcrumbs and inner-intro -->

 <app-breadcrumbs [pageTitle]="title" [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

 <!--=================================
    breadcrumbs and inner-intro -->


<mk-box header="{{formStatus}} Slot" [isLoading]="isLoading" [isCollapsed]="isCollapsed" [isCollapsable]="true" [isRemovable]="false">
   
      
    <!--<a style="float: right;" *ngIf="formStatus=='Update'" (click)="cancelEdit()">
        <i class="fa fa-repeat"></i> Reset
    </a>-->
    
    <!-- Add/Update Record-->
    <form [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
        <div class="box-body">          
            <div class="form-group">
                <select formControlName="day" class="form-control">
                    <option value="">Select Day</option>
                    <option *ngFor="let day of days | keyvalue" value="{{day.value}}">{{day.value}}</option>
                </select> 
                <p class="errorCls"  *ngIf="addEditForm.controls.day.touched || isFormSubmitted">
                  <app-form-validation-errors errorPrefix="Day " [errors]="addEditForm.get('day').errors"></app-form-validation-errors>
                </p> 
            </div>

            <div  class="form-group">
              <label>Status*</label>
              <label class="switch">
                <input type="checkbox" formControlName="is_active" [checked]="(addEditForm.controls.is_active.value)?true:false">
                <span class="slider round"></span>
              </label>          
              <p class="errorCls"  *ngIf="addEditForm.controls.is_active.touched || isFormSubmitted">
                <app-form-validation-errors errorPrefix="Status " [errors]="addEditForm.get('is_active').errors"></app-form-validation-errors>
              </p> 
            </div>

            <div class="form-group" id="checkbox-slot">
                <label>Slots*</label>
                <ul class="checkbox-items">
                    <li *ngFor="let slot of slots;let i = index">
                      <input type="checkbox" [checked]="slot.isChecked" (change)="changeSelection($event,i)">{{slot.slot}}
                    </li>
                  </ul>
            </div>        
        </div>
        <!-- /.box-body -->
  
        <div class="box-footer">     
        <!--<button  type="button" (click)="cancelEdit()" class="btn btn-default">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <button type="submit" class="btn btn-primary">{{formStatus}}</button>
        </div>
    </form>
    <!-- End Here-->
  
  </mk-box>
  
  
  <mk-box [isLoading]="isLoading"  [isCollapsable]="false" [isRemovable]="false">
    
    
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Day</th>              
              <th>Slots </th>         
              <th>Created On</th>
              <th>Updated On</th> 
              <th>Status</th>             
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="records.length>0">
            <tr *ngFor="let record of records">
                   
              <td>{{record?.day}}</td>
              
              <td>
                <span *ngFor="let slot of processSlots(record.slots);let i =index;let last = last;">  
                              
                  <p style="background-color: #3233; border-radius: 20px;width: 45%;" *ngIf="slot.isChecked && i<2">{{slot.slot}}</p>
                  <a *ngIf="i>1 && last" href="javascript:void(0)" (click)="viewSlots(record)">View More</a>
                </span>
                
                
            
              </td>
              <td>{{record?.created_at | date:'MMM dd, y h:mm:ss a'}}</td>
              <td>{{record?.modified_at | date:'MMM dd, y h:mm:ss a'}}</td> 
              <td>
                
                <label class="switch">
                  <input type="checkbox" (change)="statusChange($event, record?._id)" [checked]="record?.is_active?true:false">
                  <span class="slider round"></span>
                </label>

              </td>           
              <td><a title="Edit Record" href="javascript:void(0)" (click)="editAction(record)"><i class="fa fa-fw fa-edit"></i></a></td>
            </tr>          
          </tbody>
          <tbody *ngIf="records.length<=0" >
            <tr>
              <td style="text-align:center;" colspan="5">We can't find any record.</td>
            </tr>
          </tbody>
        </table>
      </div>      
    
      
  </mk-box>


  <!-- Slots Modal -->
  <div class="modal" id="bmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:1250px;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="text-align:center">Avaliable Slots</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" id="checkbox-slot-list">
            
            <ul class="checkbox-items">
                <li *ngFor="let slot of viewMoreSlots;let i = index">
                  {{slot.slot}}
                </li>
              </ul>
        </div>
        </div>        
      </div>
    </div>
  </div>