<mk-box [isLoading]="isLoading"  [isCollapsable]="false" [isRemovable]="false">
  <div class="box-header">
    <form id="search_Form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div style="width:20%">
        <h3 class="box-title">Properties Listing</h3>
        
        
      </div>

      <div class="listing-view">

      <div  class="form-group">
        
        <select formControlName="status" (change)="onSelectStatus($event)" class="form-control">
          <option [selected] ="selectedStatus ==''"  value="">Filter Properties</option>
          <option [selected] ="selectedStatus =='IN-REVIEW'"  value="IN-REVIEW">In Review</option>
          <option [selected] ="selectedStatus =='EXPIRED'" value="EXPIRED">Expired</option>
          <option [selected] ="selectedStatus =='WAITING-PAYMENT'" value="WAITING-PAYMENT">Waiting for Payment</option>
          <option [selected] ="selectedStatus =='PUBLISH'"  value="PUBLISH">Published</option>
        </select>
      </div>
      <div class="box-tools search_box">        
              <div class="input-group input-group-sm hidden-xs" style="width: 250px;">
                  <input formControlName="search" type="text" name="table_search" class="form-control pull-left searchbar_input" placeholder="Search By Title, Description">
                  <p class="errorCls"  *ngIf="searchForm.controls.search.touched || isSearchFormSubmitted">
                      <app-form-validation-errors errorPrefix="Title " [errors]="searchForm.get('search').errors"></app-form-validation-errors>
                  </p>
                  <div class="input-group-btn">
                  <button type="submit" class="btn btn-default search_btn"><i class="fa fa-search"></i></button>
                  </div>
              </div>
              <a class="position-absolute" *ngIf="(pagination.search).length>0" style="float: right;" href="javascript:void(0)" (click)="resetSearch()">
                <i title="Reset Search" class="fa fa-repeat"></i> 
            </a> 
                    
      </div>
      
    </div>
    </form> 
    
    
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>            
            <th>Price</th>
            <th>Rent/Sale</th>
            <th>Created At</th>
            <th>Change Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="records.length>0">
          <tr *ngFor="let record of records | paginate: { id: 'listing', itemsPerPage: 10, currentPage: pagination.pageNumber, totalItems: totalRecords }">
            <td scope="row"><img class="listing-img" src="{{record?.images[0]['file_path']}}" onerror="this.src='assets/img/avatar.png'"></td>
       
            <td title="{{record?.title}}">{{checkTitle(record?.title)}}</td>
            <td>{{record?.currency}}{{(record?.price)/100 | mask: 'separator':','}}<small *ngIf="record.status=='RENT'">/Mo</small></td>  
            <td>{{record?.status |  firstLetterCapital}}</td>         
            <td>{{record?.created_at | date:'MMM dd, y'}}</td>
            <td> 
              <div  class="form-group">
                <select class="form-control" (change)="onChangeStatus($event,record._id)" >
                  <option [selected] ="record.save_as =='IN-REVIEW'"  value="IN-REVIEW">In Review</option>
                  <option [selected] ="record.save_as =='EXPIRED'" value="EXPIRED">Expired</option>
                  <option [selected] ="record.save_as =='WAITING-PAYMENT'" value="WAITING-PAYMENT">Waiting for Payment</option>
                  <option [selected] ="record.save_as =='PUBLISH'"  value="PUBLISH">Published</option>           
                </select>
              </div>  
            </td>

            <td>
              <a title="Review Property Details" href="javascript:void(0)" (click)="viewProperty(record)"><i class="fa fa-fw fa-eye"></i></a>               
               
            </td>
          </tr>          
        </tbody>
        <tbody *ngIf="records.length<=0" >
          <tr>
            <td style="text-align:center;" colspan="7">No Record Found.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls style="text-align:right" id="listing"  (pageChange)="nextpage($event)"></pagination-controls>      
  </mk-box>

  <app-view-property  (onClose)="hide($event)" [isOpen]="isModalOpened" [propertyData]="propertyData" ></app-view-property>