

<mk-box header="Admin Profile" [isCollapsed]="false" [isCollapsable]="false" [isRemovable]="false">
   
      
  
    
    <!-- Add/Update Record-->
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="box-body">    
            
            <div class="main-profile form-group ">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <div class="profile-img-icon">
                            <span>
                                <img style="max-width:120px" class="img-circle" src="{{croppedImage}}">
                                <p><input type="file" (change)="fileChangeEvent($event)"><i class="fa fa-plus"></i></p>
                            </span>
                        </div></div>
                    <div class="col-lg-6">
                        <p class="text-center" *ngIf="showCropper">Please Crop Image:</p>
                        <image-cropper                                
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="1 / 1"
                            format="jpeg"
                            [resizeToWidth]="80"
                            [resizeToHeight]="80"
                            imageQuality="92"
                            roundCropper = "true"
                            (imageCropped)="imageCropped($event)"                  
                        >
                        </image-cropper></div>
    
                </div>
            </div>


            <div class="form-group has-feedback">
                <label>Name*</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Name">
                
                <p *ngIf="profileForm.controls.name.touched || isFormSubmitted">
                    <app-form-validation-errors errorPrefix="Name "  [errors]="profileForm.get('name').errors"></app-form-validation-errors>
                </p> 
            </div>     
            
    
               
            
        </div>
        <!-- /.box-body -->

        <div class="box-footer">    
      

        <button type="submit" [disabled]="!profileForm.valid" [ngClass]="{ 'submit-btn-disable': !profileForm.valid }" class="btn btn-primary btn-block btn-flat">Update</button>
        </div>
    </form>
    <!-- End Here-->

</mk-box>

